#zonaDeSoltar,
#arrastrables {
  display: flex;
}

#arrastrables {
  margin: 10px 17px 0 10px;
}

.arrastrable {
  flex: 0 0 100px;
  height: 160px;
  text-align: center;
  background: #ffffff;
  border: 1px solid;
  margin: 15px;     
  border-radius: 5px;
}

.zona-de-soltar {
  flex: 0 0 100px;
  height: 160px;
  background: coral;
  padding: 10px;
  margin: 10px 10px 0 0;
  margin-left: 10px;
  border-radius: 5px;
}
